/*

!/.gitignore
!/LICENSE
!/README.md
!/foot
!/sway
!/waybar
!/gtk-3.0
!/micro
/micro/*
!/micro/settings.json
!/code-flags.conf
!/Code
/Code/*
!/Code/User
/Code/User/*
!/Code/User/settings.json
!/wireplumber
/wireplumber/*
!/wireplumber/wireplumber.conf.d
/wireplumber/wireplumber.conf.d/*
!/wireplumber/wireplumber.conf.d/10-disable-hdmi-audio.conf
